@import "./parciales/_header"; 
@import "./parciales/footer";
@import "./parciales/variables";
@import "./parciales/promociones";
@import "./parciales/nosotros";
@import "./parciales/contacto";
@import "./parciales/articulos";
@import "./parciales/media-queries";

*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* Main destacados */
.destacados{
    background-color: $blue;
    text-align: center;
    border-bottom: $borde;
    border-top: $borde;
    color: white;
}

main .col-md-3 { 
    border: solid 2px rgb(207, 205, 205); 
    border-radius: 5%;   
    padding: 1rem;
    margin: 2rem;
}

main .col-md-3 div{
    font-size: 1.0rem;
    text-align: center;
    font-weight: 600;
    width: 100%;
}

main .col-md-3 div span{
    color: $celeste;
    width: 500;
    font-size: 20px;
}