header{
    border-bottom: solid 5px rgb(207, 205, 205);
    border-top:#2038B9 solid 5px ;
    
}

h1{
    color: #2038B9;
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    /* border-radius:100%;
    border:solid 8px; */
    padding: 1rem;
    letter-spacing: 3px;
    text-decoration: underline;
    font-style: italic;
}
h1 span{
     color: rgb(60, 154, 216); 
     
}

/* buscador */

.buscador{
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
    
}

/* menu navegacion */
.nav{
    background-color: #2038B9;
    width: 100%;
    justify-content: center;
    &__list{
        display: flex;
        align-items: flex-end;
        list-style: none;
        padding: 0.5rem;
        margin: 0px;
        &__link{
            
            padding: 0.5rem;
              
            & a{
                font-size: 1.2rem;
                font-weight: 300;
                color: white;
                text-decoration: none;
                padding: 1rem;   
            } 
            a:hover{
                color:#4b8ecc
                }
        }
    }
}

