@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}   

@mixin movil {
    @media screen and (max-width: 320px) {
        @content;
    }
}


/* Media Queries */
@media (max-width: 768px)  {
   
    #carouselExampleIndicators {
        display: none;
    }
    .grid{
        align-items: center;
        grid-template-columns: 300px;
            
        grid-template-rows: 1fr;
    }
    }
    
    @media (max-width: 320px)  {
   
      body  {
        text-align: center;
        }
    
        .footer {
            display: flex;
            flex-direction: column;
          
        }
        header div{
            display: flex;
            flex-direction: column;
            
        }

        main form{
            width: 100%;
            
        }

        header h1 {
            display: none;
        }

        .buscador{
            display: flex;
            flex-direction: column;

        }
    }