.nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* width: 100%; */
}

.nosotros h2{
    
    background-color: $celeste;
    text-align: center;  
    color:$blue;
    margin: 20px;
    width: 52%;
   
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 900;
}

.local{
    background-color: $celeste;
    text-align: center;  
    color:$blue;
    margin: 20px;
    width: 52%;
   
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 900;
}

.mapa{
    padding: 500px;
    width: 500px;
    height: 500px;
    background-color: yellowgreen;
}